{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
</head>
<body>
    <h1>Home</h1>
    <h2>Enter an integer value</h2>
    <label for="number">Enter Number:</label>
    <form action="/calculate" method="POST">
        <input type="text" name="number" id="number">
        <input type="submit" value="Submit">
    </form>

</body>
</html>
{% endblock %}
